doctype
html
  head
    link(rel="stylesheet", href="/main.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.13/d3.min.js")
    script(src='/audio.js')
    script(src='/chart.js')
    script(src='/program.js')
    style.
      table {
        max-width: 100%
      }
  body
    != yield
