h1 Audio Chart
p
  strong Frequency:
  input#freq(type='range', min='1', max='100')
  strong Wave type:
  button.osc-type(value='0', style='font-weight:bold;') Sine
  button.osc-type(value='1') Square
  button.osc-type(value='2') Sawtooth
  button.osc-type(value='3') Triangle
div#audio-chart



